<br>

  <div class="form-group input-group col-md-8">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control"style="margin-right:1px">
    <button class="btn btn-secondary" style="margin-right:15px">Buscar</button>
    <button class="btn btn-success" style="margin-right:15px">Aprovados</button>
    <button class="btn btn-danger">Reprovados</button>
</div>
<br>
<br>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Nome do Solicitante</td>
      <td>Valor do Item</td>
      <td>Descrição do Item</td>
      <td>Situação</td>
      <td>Observações</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.nomeSolicitante }}</td>
      <td>{{ item.valor }}</td>
      <td>{{ item.descricao }}</td>
      <td>{{ item.situacaoSolicitacaoCompra }}</td>
      <td>{{ item.descricaoReprovacao }}</td>
    </tr>
  </tbody>
</table>