<br>
<br>


<table class="table table-hover">
  <thead>
      <tr>
          <td>Nome do Solicitante</td>
          <td>Valor do Item</td>
          <td>Descrição do Item</td>
      </tr>
  </thead>

   <tbody>
      <tr *ngFor="let item of data">
          <td>{{ item.nomeSolicitante }}</td>
          <td>{{ item.valor }}</td>
          <td>{{ item.descricao }}</td>
          <td><a class="btn btn-success" (click)="aprovar(item.idCompras)" style="color:white">Aprovar</a></td>
          <td><a class="btn btn-danger" (click)="reprovar(item.idCompras)" style="color:white">Reprovar</a></td>
      </tr>
  </tbody> 
</table>