<div class="text-right">
    <a class="btn btn-sucess" id="btnNovoContrato">
     <button type="button" class="btn btn-success" (click)="novo()">Novo</button>
    </a>
</div>
<br>
<br>
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Nome do Solicitante</td>
            <td>Valor do Item</td>
            <td>Descrição do Item</td>
        </tr>
    </thead>

     <tbody>
        <tr *ngFor="let item of data">
            <td>{{ item.nomeSolicitante }}</td>
            <td>{{'R$ ' + (item.valor).toLocaleString('pt-BR', {minimumFractionDigits: 2})}}</td>
            <td>{{ item.descricao }}</td>
            <td>
              <a class="btn btn-primary" (click)="editar(item.idCompras)" style="color:white">Editar</a>
              <a class="btn btn-danger" (click)="remover(item.idCompras)" style="color:white">Remover</a>
            </td>
        </tr>
    </tbody> 
</table>

<p-dialog header="Solicitar Compra" [(visible)]="display" [style]="{'width' : '750px'}" [formGroup]="form">
    <div class="form-group">
        <input required type="text" class="form-control" id="nomeSolicitante" name="nomeSolicitante"
          formControlName="nomeSolicitante"  placeholder="Nome do Solicitante" required />
      </div>
    
      <div class="form-group">
        <input required type="text" class="form-control" id="valor" name="valor" formControlName="valor"
          currencyMask [options]="{ align: 'left' , prefix: 'R$ ', thousands: '.', decimal: ','}"  placeholder="Valor do Item"/>
      </div>
    
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Descrição do Item" id="descricao" name="descricao" formControlName="descricao"/>
      </div>
      <p-footer>
        <div class="pull-right">
            <button type="button" class="btn btn-danger" (click)="close()" id="idBtnFecharObjeto">
                <i class="zmdi zmdi-close-circle"></i> Fechar
            </button>
            <button type="button" class="btn btn-success" (click)="salvar()" id="idBtnSalvarObjeto">
                <i class="zmdi zmdi-shield-check"></i> Salvar
            </button>
        </div>
    </p-footer>
</p-dialog>
