<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
    Open modal
  </button>
  
  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">
          Modal body..
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div> -->

  <div class="form-group">
      <label class="col-md-8" for="nomeDoSolicitante">Nome do Solicitante</label>
      <input type="text" class="form-control" id="nomeDoSolicitante" name="nomeDoSolicitante"
        formControlName="nomeDoSolicitante" required />
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="submitted && !form.get('nomeDoSolicitante').valid">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Campo obrigatório.
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-md-4" for="valorDoItem">Valor do Item</label>
      <input required type="text" class="form-control" id="valorDoItem" name="valorDoItem" formControlName="valorDoItem"
        currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="submitted && !form.get('valorDoItem').valid">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Campo obrigatório.
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-md-12">Descrição do Item</label>
      <input type="text" class="form-control" />
    </div>
  
  
  <div class="footer">
    <div class="pull-right">
      <button type="button" class="btn btn-success" (click)="salvar()" id="idBtnSalvarFecharCompra">
        <i class="zmdi zmdi-shield-check"></i> Salvar e Fechar
      </button>
    </div>
  </div>
  