<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<app-notifications></app-notifications>

<nav class="navbar navbar-expand-sm bg-nav-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="compras/consultar" class="nav-link" routerLinkActive="active" style="color:white">
          Compras
        </a>
      </li>
      <li>
        <a routerLink="compras/almoxarifado" class="nav-link" routerLinkActive="active" style="color:white">
          Almoxarifado
        </a>
      </li>
      <li>
        <a routerLink="compras/adminstrativo" class="nav-link" routerLinkActive="active" style="color:white">
          Administrativo
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container col-md-6">
<h2>Bem Vindo ao meu desafio Senior!</h2>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>